<div class="row">

  <div class="col-md-12">
    <%= f.field_container :name do %>
      <%= f.label :name, t(:name) %><br>
      <%= f.text_field :name, class: "form-control fullwidth" %>
    <% end %>
  </div>

</div>
